*{
  margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;

}

header{
background-color:  rgb(23, 60, 90);
padding: 60px;
text-align: center;
color: rgb(255, 255, 255);
font-weight: bold;
}
nav{
display: flex;
background-color: black;

}
nav a {
color: rgb(146, 152, 156);
padding: 10px;
text-decoration: none;
text-align: center;
}
nav a:hover{
background-color: aliceblue;
color: rgba(70, 22, 243, 0.116);
}
#row {
display: flex;
flex-wrap: wrap;

}
.fakeimage{
background-color: rgb(234, 244, 253);
width: 100%;
padding: 20px;
margin-bottom: 10px;

}
aside{
    flex: 30%;
background-color: aliceblue;
padding: 20px;
}
main{
    flex: 70%;
background-color: rgb(45, 78, 105);
padding: 20px;

articl img {
width: 100%;

}
article {
box-shadow: 0px 0px 10px #aaa ;
padding: 5px;
border-radius: 10px;
text-align: ;

}


}

footer{
background-color: rgb(23, 60, 90);
padding: 40px;
color: aliceblue;
text-align: center;
font-size: 12px;
}
 {

{