/* Pequenos ajustes extras só para exemplo.
   A maior parte do visual vem do Tailwind. */

html {
  scroll-behavior: smooth;
}

/* Só para mostrar o uso de seletor simples comum */
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.85em;
}
/* Pequenos ajustes extras só para exemplo.
   A maior parte do visual vem do Tailwind. */

html {
  scroll-behavior: smooth;
}

/* Só para mostrar o uso de seletor simples comum */
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.85em;
}

