*{ 
      margin: 0;
        padding: 0;
          box-sizing: 0; border-box;
          }

          bodyy {
            font-family: Arial;
            }

            header {
              background-color: blueviolet;
                padding:90px;
                  text-align: center;
                    color: whitesmoke;
                      fonte-weight: bold;
                      }

                      nav {
                          display: flex;
                              background-color: #333;
                              }

                              nav a {
                                 color: #fff;
                                    padding: 10px;
                                      text-decoration: none;
                                        text-align: center
                                        }

                                        nav a:hover {
                                          background-color: #ddd;
                                            color: #000;
                                              
                                              }
                                              #row {
                                                display: flex;
                                                  flex-wrap: wrap;
                                                    
                                                    }

                                                    .fakeimage {
                                                      background-color: #aaa;
                                                        width: 100%;
                                                          padding: 20px;
                                                            margin-bottom: 10px;
                                                              
                                                              }

                                                              aside {
                                                                flex:30px;
                                                                  background-color: #f1f1f1;
                                                                    padding: 20px;
                                                                    }
                                                                    main{
                                                                      flex:70px;
                                                                        blackground-color:white;
                                                                          padding:30px;
                                                                          }

                                                                          article{
                                                                            box-shadow: 5px 5px 18px #aaa;
                                                                              padding: 5px;
                                                                                border-radius: 10px
                                                                                  
                                                                                  }



                                                                                  article img{
                                                                                    widht:100%;
                                                                                      margin-top: 40px;
                                                                                        margin-bottom: 10px;
                                                                                          border-radius: 5px;
                                                                                          }


                                                                                          footer{
                                                                                            background-color: #444;
                                                                                              padding: 40px;
                                                                                                color: white;
                                                                                                  text-align: center;
                                                                                                    font-size: 12px;
                                                                                                    }
}