/* ARQUIVO: styles.css */

.titulo-gigante {
    /* Define o tamanho da fonte */
    font-size: 80px; 
    
    /* Opcional: Para dar um destaque visual maior */
    color: #007bff; /* Uma cor chamativa */
    text-align: center; /* Centraliza na página */
    font-weight: 900; /* Deixa bem negrito */
}