/* Estilos Gerais */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
}

/* HEADER: Estilização do Cabeçalho */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: #007bff 3px solid;
}

header h1 {
    margin: 0;
}

/* ARTICLE: Estilização do Conteúdo Principal */
article {
    float: left;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

/* ASIDE: Estilização da Barra Lateral */
aside {
    float: right;
    width: 30%;
    background: #e6e6e6;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

aside h3 {
    margin-top: 0;
    color: #007bff;
}

/* IMG: Estilização das Imagens */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/* FOOTER: Estilização do Rodapé */
footer {
    clear: both; /* Garante que o footer fique abaixo dos elementos flutuantes (article e aside) */
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}