* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
     background-color: rgb(255, 145, 0);
     padding: 70px;
     text-align: center;
     color: rgb(0, 0, 0);
     font-weight: bold;
}

nav {
    display: flex;
    background-color: rgb(0, 0, 0);

}

nav a {
    color: rgb(255, 123, 0);
    padding: 20px;
    text-align: center;
}

nav a:hover {
      background-color: rgb(255, 255, 255);
     color: #000;
}

#row {
     display: flex;
     flex-wrap: wrap;
}

.fakeimage {
     background-color: rgb(139, 153, 147);
     width: 25%;
     padding: 30px;
     margin-bottom: 20px;
  
}


aside {
     flex: 30%;
     background-color: rgb(81, 96, 100);
     padding: 30px;
}

main {
     background-color: rgb(29, 60, 95);
     padding: 40px;
}

p {

    font-size: 20;

}



footer {
    background-color: rgb(49, 47, 47);
    padding: 40px;
    color: #797676;
    text-align: center;
    font-size: 12px;
}
