{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Ariel, Helvetica, sans-serif;
}	
 
header {
	background-color: rgb(13, 3, 67);
	padding: 50px;
    text-align: center;
    color: #a289d8;
    font-weight: bold;
 }
 
 nav {
	display: flex;
	background-color: #0e0d0d:
 }
 
 nav{
	color: #f6efef;
	padding: 10px;
	text-decoration: nome;
	text-align: center;
 }
 
nav a:hover {
	background-color: #ffffff;
	color: #ffffff;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.fakeimafe {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

article {
    box-shadow: 5px 5px 10px #5b3473;
    padding: 10px;
    border-radius: 15px;
}

article img {
    widht: 100%
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    background-color: rgb(13, 3, 67);
    padding: 1px;
    color: #a289d8;
    text-align:  center;
    font-size: 15px;
}

@media screen and (max-width: 400px){
    nav {
        flex-direction: column;
    }
}