body {
    color: rgb(247, 5, 138);
    background: rgb(214, 164, 243);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(247, 5, 138);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(247, 5, 138);
}

.chamada {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
    color: rgb(98, 0, 128);
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    transition: 0.3s;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(98, 0, 128);
}

.categoria h2 {
    color: rgb(98, 0, 128);
}

footer {
    text-align: center;
    padding: 20px;
    background: rgb(98, 0, 128);
    color: white;
    margin-top: 40px;
}
