/* ESTILO GERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef7ff;
}

/* CABEÇALHO */
header {
    background-color: #0a4c8a;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

/* TITULO */
.titulo {
    padding: 20px;
}

h1 {
    color: #0a4c8a;
}

h2 {
    color: #09406f;
}

/* ARTIGOS */
.lista-artigos {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.card {
    background: white;
    max-width: 280px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.link {
    color: #0a4c8a;
    text-decoration: underline;
}

/* ASIDE */
aside {
    background: #d9ecff;
    padding: 20px;
    margin: 20px;
    border-left: 4px solid #0a4c8a;
}

span {
    font-weight: bold;
    color: #0a4c8a;
}

/* RODAPÉ */
footer {
    text-align: center;
    padding: 15px;
    background-color: #0a4c8a;
    color: white;
    margin-top: 30px;
}