*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: Arial, Helvetica, sans-serif;

}

header{
     background-color: rgb(77, 65, 65);
     padding: 60px;
     text-align: center;
     color: rgb(255, 255, 255);
     font-weight: bold;
}

nav{
    display: flex;
    background-color: rgb(0, 0, 0);

}

nav a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: antiquewhite;
    color: black;

}

#row{
    display: flex;
    flex-wrap: wrap;
}

.fakeimage{
    background-color: gray;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}


aside{
    flex: 30%;
    background-color: rgb(196, 198, 201);
    padding: 20px;   
}

main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}

article{
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 5px;
    border-radius: 10px;
}

article img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer{
    background-color: rgb(53, 53, 53);
    padding: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 400px){
    nav {
        flex-direction: column;

    }
}