body {
        font-family: Arial, sans-serif;
            background: #fafafa;
                margin: 0;
                    padding: 0;
                    }

                    /* HEADER */
                    header {
                        background: #ff7043;
                            padding: 20px;
                                text-align: center;
                                    color: white;
                                    }

                                    /* MENU */
                                    nav {
                                        background: #ffe0b2;
                                            padding: 12px;
                                                display: flex;
                                                    justify-content: center;
                                                        gap: 20px;
                                                        }

                                                        nav a {
                                                            text-decoration: none;
                                                                color: #bf360c;
                                                                    font-weight: bold;
                                                                    }

                                                                    /* CONTEÚDO */
                                                                    main {
                                                                        display: flex;
                                                                            padding: 20px;
                                                                                gap: 20px;
                                                                                }

                                                                                aside {
                                                                                    width: 25%;
                                                                                        background: #fff3e0;
                                                                                            padding: 15px;
                                                                                                border-radius: 10px;
                                                                                                }

                                                                                                section {
                                                                                                    width: 75%;
                                                                                                    }

                                                                                                    article {
                                                                                                        background: white;
                                                                                                            padding: 15px;
                                                                                                                margin-bottom: 20px;
                                                                                                                    border-radius: 10px;
                                                                                                                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                                                                                                                        }

                                                                                                                        img {
                                                                                                                            width: 100%;
                                                                                                                                border-radius: 10px;
                                                                                                                                }

                                                                                                                                /* TAG */
                                                                                                                                .tag {
                                                                                                                                    background: #ffab91;
                                                                                                                                        padding: 3px 7px;
                                                                                                                                            border-radius: 5px;
                                                                                                                                                font-size: 12px;
                                                                                                                                                }

                                                                                                                                                /* BOTÃO */
                                                                                                                                                .btnMostrar {
                                                                                                                                                    background: #ff7043;
                                                                                                                                                        color: white;
                                                                                                                                                            border: none;
                                                                                                                                                                padding: 10px;
                                                                                                                                                                    margin-top: 10px;
                                                                                                                                                                        border-radius: 6px;
                                                                                                                                                                            cursor: pointer;
                                                                                                                                                                            }

                                                                                                                                                                            .btnMostrar:hover {
                                                                                                                                                                                background: #e64a19;
                                                                                                                                                                                }

                                                                                                                                                                                /* FOOTER */
                                                                                                                                                                                footer {
                                                                                                                                                                                    text-align: center;
                                                                                                                                                                                        background: #ff7043;
                                                                                                                                                                                            padding: 15px;
                                                                                                                                                                                                color: white;
                                                                                                                                                                                                    margin-top: 20px;
                                                                                                                                                                                                    }
}