@font-face {
    font-family: TerroRubi;
    src: url(RubikBurned-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ff0000;
}

header {
    font-family: TerroRubi;
    color: #ff0000;
    background-color: rgb(39, 3, 9);
    padding: 60px;
    text-align: center;
    border: 10px solid rgb(102, 3, 3);
}

nav {
    display: flex;
    background-color: rgb(39, 3, 9);
    border: 10px solid rgb(102, 3, 3);

}

nav a {
    color:rgb(255, 0, 0);
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: rgb(54, 7, 107);
    color: rgb(158, 158, 236);
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.fakeeeeeeeeeeeee {
    background-color: #e23f3f;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside {
    flex: 30%;
    background-color: rgb(61, 15, 15);
    padding: 20px;
}

main {
    flex: 70%;
    background-color: rgb(61, 15, 15);
    padding: 20px;
}

article {
    box-shadow: 0px 0px 10px rgb(36, 2, 2);
    padding: 5px;
    border-radius: 10px
}

#gaga {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

article img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    background-color: rgb(61, 15, 15);
    padding: 40px;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
}
    
