/* Fundo e fonte geral */
body {
  
  background: linear-gradient(to bottom, rgb(40, 17, 124), #0e0707);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
header {
  background-color: rgb #121212;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-size: 28px;
}

/* Seções */
section {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Títulos */
h2 {
  color: #ffffff;
  text-align: center;
}

/* Imagens */
img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Rodapé */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}