*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, Sans-serif;
}
header{
    background-color: green;
    padding: 60px;
    text-align: center;
    color: black;
    font-weight: bold;
}
nav{
    display: flex;
    background-color:aqua;
}
nav a{
    color:rgb(226, 43, 43);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: chartreuse;
    color:deeppink
}
#row{
    display: flex;
    flex-wrap: wrap;
}
.fakeimage{
    background-color: rgb(240, 113, 67);
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
aside{
    flex: 30%;
    background-color: limegreen;
    padding: 20px;
}
main{
    flex: 70%;
    background-color: aliceblue;
    padding: 20px;
}
article{
    box-shadow: 0px 0px 10px #aaa;
    padding: 5px;
    border-radius: 10px;
}
article img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
footer{
    background-color: blue;
    padding: 40px;
    color:yellow;
    text-align: center;
    font-size: 12px;
}
@media screen and (max-width: 400px){

    nav{
        flex-direction: column;
    }
}