h1 {
    color: rgba(31, 255, 61, 0.979);
}

body {
    background-color: rgb(16, 135, 143);
}
   
h2 { 
    color: #67fd49;
}
  img{
    width:250px ;
    height: auto;
  } 
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h3{
      color: #64ff64;
    }
    footer{
      text-align: center;
    }