*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #00327e;
}

header{
   background-color: rgb(0, 72, 180); 
   padding: 60px;
   text-align: center;
   color:blanchedalmond;
   font-weight: bold;
}

nav{
   display: flex;
   background-color:rgb(69, 140, 247);
}

nav a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: rgb(90, 147, 233);
    color: black;
}

#row{
    display:flex;
    flex-wrap: wrap;
}

.fakeimage{
    background-color: antiquewhite;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside{
    flex: 30%;
    background-color: aliceblue;
    padding: 20px;
}

main{
    flex: 70%;
    background-color: aliceblue;
    padding: 20px;
}

article{
    box-shadow: 10px 10px 10px #aaa;
    padding: 5px;
    border-radius: 20px;
}
.personagem{
    box-shadow: none;
    background-color: aliceblue;
    
}

article img{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer{
    background-color:rgb(101, 173, 255);
    padding: 40px;
    color:black;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 400px){
    nav{
        flex-direction: column;
    }
    
}