 * {
     margin: 0;
      padding: 0;
       box-sizing: border-box;
       }

       body {
           font-family: Arial, Helvetica, sans-serif;
           }

           header {
               height: 180px;
                   background-image: url("panenosistema.jpeg");
                       background-size: 500px 180px;
                           padding: 60px;
                               text-align: center;
                                   color: black;
                                       font-weight: bold;
                                       }

                                       nav {
                                           align-items: center;
                                               display: flex;
                                                   background-color: black;
                                                       
                                                       }

                                                       #nav1 {
                                                           align-items: center;
                                                               padding: 10px;
                                                                   margin-left: 700px;
                                                                       background-color: transparent;
                                                                       }

                                                                       nav a {
                                                                           color: white;
                                                                               padding: 10px;
                                                                                   text-decoration: none;
                                                                                       border-radius: 5px;
                                                                                           margin-bottom: 40px;
                                                                                               
                                                                                               }

                                                                                               nav a:hover {
                                                                                                   background-color: black;
                                                                                                       color: goldenrod;
                                                                                                           box-shadow: 0px 6px 16px goldenrod;
                                                                                                           }

                                                                                                           #p1 {
                                                                                                               margin-top: 40px;
                                                                                                                   text-align: center;
                                                                                                                   }

                                                                                                                   #row {
                                                                                                                       display: flex;
                                                                                                                           flex-wrap: wrap;
                                                                                                                           }

                                                                                                                           #art1 {
                                                                                                                               text-align: center;
                                                                                                                               }

                                                                                                                               aside {
                                                                                                                                   background-color: #f1f1f1;
                                                                                                                                       padding: 20px;
                                                                                                                                           color: black
                                                                                                                                           }



                                                                                                                                           main {
                                                                                                                                               background: url("https://thumbs.dreamstime.com/b/fundo-vermelho-com-movimentos-do-c%C3%B3digo-bin%C3%A1rio-para-baixo-na-tela-digital-132841137.jpg");
                                                                                                                                                   flex: 100%;
                                                                                                                                                       padding: 60px;
                                                                                                                                                       }

                                                                                                                                                       article {
                                                                                                                                                            margin-bottom: 40px; /* distância entre os artigos */
                                                                                                                                                                padding: 15px;       /* espaço interno opcional */
                                                                                                                                                                    background-color: black; /* cor só para visualizar melhor */
                                                                                                                                                                        border-radius: 40px;
                                                                                                                                                                            color: white;
                                                                                                                                                                                box-shadow: 10px 10px 5px whitesmoke;
                                                                                                                                                                                    border-radius: 5px;
                                                                                                                                                                                        border: 2px solid red;
                                                                                                                                                                                            transition: transform 0.3s ease, box-shadow 0.3s ease;
                                                                                                                                                                                            }

                                                                                                                                                                                            #gestores h1 {
                                                                                                                                                                                                text-align: center;
                                                                                                                                                                                                    padding: 10px;
                                                                                                                                                                                                    }

                                                                                                                                                                                                    article:hover {
                                                                                                                                                                                                        transform: scale(1.05);
                                                                                                                                                                                                            box-shadow: 0 6px 16px red;
                                                                                                                                                                                                            }

                                                                                                                                                                                                            article img {
                                                                                                                                                                                                                width: 20%;
                                                                                                                                                                                                                    margin-top: 10px;
                                                                                                                                                                                                                        margin-bottom: 10px;
                                                                                                                                                                                                                            border-radius: 5px;
                                                                                                                                                                                                                            }

                                                                                                                                                                                                                            footer {
                                                                                                                                                                                                                                background-color: #444;
                                                                                                                                                                                                                                    padding: 20px;
                                                                                                                                                                                                                                        color: #fff;
                                                                                                                                                                                                                                            text-align: center;
                                                                                                                                                                                                                                                font-size: 16px;
                                                                                                                                                                                                                                                }

                                                                                                                                                                                                                                                @media screen and (max-width: 400px) {

                                                                                                                                                                                                                                                    nav {
                                                                                                                                                                                                                                                            flex-direction: column;
                                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                    }
 }