* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(161, 30, 201);
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(19, 3, 3);
    font-family: "Arial", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

p {
    font-family: "verdana", sans-serif;
    font-size: 18px;
}

nav {
    background-color: rgb(213, 155, 247);
    padding: 10px;
    text-align: center;
}


nav a {
    font-family: "verdana", sans-serif;
    font-size: 16px;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
   
}
nav a:hover {
    background-color: rgb(224, 198, 250);
    transition: background-color 0.4s;
}

main {
    background-color: rgb(246, 233, 248);
    padding: 0px 20px;
}

nome-do-autor {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 217, 252);
    padding: 20px;
    width: 800px;
    max-width: 100%px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

section h2 {
    font-family: "arial", sans-serif;
    font-size: 28px;
    color: rgb(7, 1, 12);
    text-align: center;

}

section h3 {
    font-family: "arial", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    color: rgb(179, 119, 235);
}

section p {
    line-height: 1.6;
    font-size: 16px;
    color: rgb(2, 1, 1);

}

img {
    max-width: 100%;
    margin-top: 10px;

}

a {
    text-decoration: none;
}