* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial, Helvetica, sans-serif;
background-color: #0c0f0c;
color: #d6ecd0;
}


header {
background-color: #1a3d1a;
padding: 40px;
text-align: center;
color: #e2ffe2;
}


nav {
display: flex;
gap: 20px;
background-color: #0a240a;
padding: 15px;
justify-content: center;
}


nav a {
text-decoration: none;
color: #cfeccc;
font-weight: bold;
}


nav a:hover {
color: #7fbf7f;
}


.conteudo {
display: flex;
gap: 20px;
padding: 20px;
}


article {
flex: 3;
background-color: #1f2e1f;
padding: 20px;
border-radius: 8px;
}


aside {
flex: 1;
background-color: #253825;
padding: 20px;
border-radius: 8px;
}


h1, h2, h3, h5 {
margin-bottom: 10px;
}


p {
margin-bottom: 10px;
}


footer