body{
        background-color: rgb(0, 217, 255);
    }
    p{
        font-size: 22px;
    }
img{
    width: 250px;
    height: auto;
}
li{
    font-size: 19px;
}
h3{
    font-size: 23px;
    color: black;
}