/* Estilos extras para botões e links */

.menu-link {
    font-weight: 600;
}

.menu-link:hover {
    text-decoration: underline;
}

.btn {
    background-color: #15803d;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    background-color: #166534;
}
