/* ================================
   ESTILO GERAL DA PÁGINA
================================ */
body {
    font-family: Arial, sans-serif;
    background: #ffdddd; /* fundo vermelho claro */
    margin: 0;
    text-align: center;
}

/* ================================
   HEADER
================================ */
.topo {
    background-color: #b30000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    color: #ffecec;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: yellow;
}

/* ================================
   MAIN (CONTEÚDO PRINCIPAL)
================================ */
main {
    padding-bottom: 30px;
}

/* ================================
   PERFIL
================================ */
.perfil {
    padding: 20px;
}

.foto-perfil {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #b30000;
    object-fit: cover;
}

.descricao-perfil {
    color: #800000;
    margin-top: 5px;
}

/* Título da página */
.titulo {
    color: #b30000;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
}

/* ================================
   CARDS
================================ */
.container {
    display: flex;
    justify-content: center;   /* centraliza na horizontal */
    align-items: flex-start;   /* alinha no topo */
    gap: 20px;                 /* espaço entre os cards */
    margin-bottom: 30px;
    flex-wrap: nowrap;         /* força todos na mesma linha */
}

.card {
    position: relative;
    background: #ff4d4d;
    color: white;
    width: 260px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(150,0,0,0.4);
    transition: transform 2s, box-shadow 2s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #b30000;
}

.tag-img {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #b30000;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(100,0,0,0.6);
}

.card h2 {
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #ffecec;
}

.tempo {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #fff2f2;
}
