*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.cabecalho {
    display: flex;
    flex-direction: column;
    background-color:#045F56 ;
    height:auto;
    color: #fff;
    text-align: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 5px 5px 5px #ccc;
    z-index: 1000;
}

.row{
    display: flex;
    flex: 100%;
}

.lateral{
    display: flex;
    flex: 30%;
    align-items: center;
    flex-direction: column;
    background-color:#068376 ;
    padding: 20px;
}

.lateral article{
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: justify;
    color: #fff;
    width: 90%;
    gap: 30px;
   
}

.lateral article h2, h3 {
    text-align: center;
}

.conteudo{
    display: flex;
    flex: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    


}

.conteudo article{
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: justify;
    margin-top: 20px;
    color: #068376;
    
    width: 70%;
}


ul{
    list-style: none;
    display: flex;
    gap: 20px;
 
   
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    background-color:#0BA394 ;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

a:hover{
    background-color:#065a52;
    border: solid 1px #0BA394;
}



#minha-foto{
    border-radius: 10px;
    box-shadow: 5px 5px 10px #065a52;

}


footer{
    background-color: #045F56;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}