/* ======= BODY ======= */
body {
  height: 100vh;
  color: white;
  background: linear-gradient(to bottom, #1e3a8a, #0f172a);
  font-family: sans-serif;
  margin: 0;
}

/* ======= HEADER ======= */
header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header div {
  flex: 1;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  header div {
    text-align: left;
  }
}

nav {
  font-weight: bold;
  gap: 12px;
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  nav {
    display: flex;
  }
}

/* ======= MAIN ======= */
main {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ======= POST CARD ======= */
.post-card {
  background: #1f2937;
  padding: 16px 0;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  max-width: 24rem;
  width: 100%;
}

/* HEADER DO CARD */
.post-header {
  display: flex;
  align-items: center;
  padding: 0 16px 16px;
  gap: 12px;
}

.post-header img {
  height: 48px;
  width: 48px;
  border-radius: 999px;
  border: 2px solid #3b82f6;
}

/* IMAGEM DO CARD */
.post-card img {
  width: 100%;
}

/* CONTEÚDO DO CARD */
.post-content {
  padding: 16px;
}

.post-content p {
  font-size: 14px;
  text-align: justify;
}

.post-time {
  font-size: 12px;
  color: #d1d5db;
  text-align: right;
  display: block;
  margin-top: 16px;
}
