* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

head {
    background-color: rgb(51, 97, 51);
    padding: 60px;
    text-align: center;
    color: saddlebrown;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: black;
}

nav a {
    color: rgb(85, 139, 186);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: aliceblue;
    color: black;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.Fakeimage {
    background-color: aliceblue;
    width:100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside {
    flex: 30%;
    background-color: rgb(2, 100, 185);
    padding: 20px;
}

main {
    flex: 70%;
    background-color: aliceblue;
    padding: 20px;
}