* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
header {
    background: #111;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00adee;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("banner.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.botao {
    margin-top: 20px;
    padding: 12px 20px;
    background: #00adee;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* SEÇÕES */
.secao {
    padding: 60px;
    text-align: center;
}

/* ASIDE */
.aside {
    background: #fff;
    padding: 30px;
    margin: 40px 60px;
    border-left: 5px solid #00adee;
    border-radius: 5px;
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.galeria img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

/* FORMULÁRIO */
form {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #333;
}

/* RODAPÉ */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
