h1{
    font-size: 30PX;
    color: cadetblue;
}
h3{
    font-size: 18px;
}
h6{
    font-size: 18px;
}
h5{
    font-size: 18px;
}
img{
    width: 270px;
    height: auto;
}
li{
    font-size: 19px;
    color: rgb(4, 0, 255);
}