* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    
}

body {
        font-family: Arial, Helvetica, sans-serif;
}

 header {
      background-color:palevioletred;
      padding: 60px;
      text-align: center;
      color: rgba(4, 9, 44, 0.811);
      font-weight: bold;
 }

 nav {
   display: flex;
   background-color: #0b9152;

 }

 nav a {  

   color: whitesmoke;
   padding: 10px;
   text-decoration: none;
   text-align: center;
 }

 nav a:hover {
   background-color:pink;
   color: grey;

 }

  #row {
   display: flex;
   flex-wrap: wrap;
 }
 .fakeimage {
   background-color: cornsilk;
   width: 100%;
   padding: 20px;
   margin-bottom: 10px;
 }
  
 aside {
   flex: 40%;
background-color: lightseagreen;
padding: 20px;
 }
  
 main{
   flex: 60%;
   background-color: lightgreen;
   padding: 20px;
 }

  article {
   box-shadow: 0px 0px 10px #aaa;
   padding: 5px;
   border-radius: 10px;
  }

 article img {
   width: 40%;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
 }

  footer {
   background-color: blueviolet;
   padding: 30px;
   color: black;
   text-align: center;
  }

  table { 
   background-color: lightblue;
   padding: 10px;
  }
  @media screen and (max-width: 400px) {
   nav {
      flex-direction: column;
   }
  }
