/* GERAL */
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* ===== HEADER ===== */
.topo {
    width: 100%;
    background: linear-gradient(90deg, #b00000, #ff1a1a);
    padding: 15px 0;
    box-shadow: 0 3px 12px rgba(0,0,0,0.4);
}

.header-content {
    width: 92%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    width: 55px;
}

.header-logo h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 900;
}

.menu a {
    color: #fff;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: #000;
    text-shadow: 0 0 6px #fff;
}

/* ===== CONTEÚDO ===== */
.container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 10px;
}

/* CELULAR */
.celular {
    width: 280px;
    background: #000;
    border-radius: 25px;
    padding: 15px;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s ease;
    box-shadow: 0 0 20px rgba(255,0,0,0.3);
}

/* TELA */
.tela {
    background: #fff;
    border-radius: 15px;
    padding: 10px;
}

.tela img {
    width: 100%;
    border-radius: 10px;
}

/* DESCRIÇÃO */
.descricao {
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
}

.descricao p {
    margin: 5px 0;
}

.btn {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    background: #ff1a1a;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #b00000;
}

.btn-ghost {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    background: transparent;
    border: 2px solid #ff1a1a;
    color: #ff1a1a;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-ghost:hover {
    background: #ff1a1a;
    color: #fff;
}

/* POP-UP DETALHES */
.popup-detalhes{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    z-index: 999;
}

.popup-conteudo{
    background: #1a1a1a;
    padding: 25px;
    border-radius: 16px;
    width: 330px;
    color: white;
    text-align: center;
    border: 1px solid #ff1a1a;
    box-shadow: 0 0 20px rgba(255,0,0,0.5);
}

.popup-conteudo h2{
    margin-top: 0;
    color: #ff3b3b;
    font-weight: 900;
}
