body {
    font-family: Arial, sans-serif;
    background: #fff7e6;
    margin: 0;
}

header {
    background: #e7a754;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#feed, #comentarios {
    max-width: 600px;
    margin: 20px auto;
}

.post, .comentario {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.post h3, .comentario h4 {
    margin-top: 0;
    color: #c97a2a;
}

.post img {
    width: 100%;
    border-radius: 8px;
}

button {
    background: #c97a2a;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
