* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f0e6;
    /* bege */
    color: #000000;
    /* preto */
}

header {
    background-color: #5a0f2e;
    /* roxo escuro */
    padding: 60px;
    text-align: center;
    color: #f5f0e6;
    /* bege */
    font-weight: bold;
}

nav {
    display: flex;
    background-color: #8b0000;
    /* vermelho escuro */
}

nav a {
    color: #f5f0e6;
    /* bege */
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #b22222;
    /* vermelho */
}

#row {
    display: flex;
    flex-wrap: wrap;
}

img {
    background-color: #f5f0e6;
    /* bege */
    width: 50%;
    margin-bottom: 30px;
    border-radius: 50%;
}

aside {
    flex: 30%;
    background-color: #efe6d8;
    /* bege mais fechado */
    padding: 30px;
}

main {
    flex: 70%;
    background-color: #ffffff;
    /* branco suave */
    padding: 20px;
}

article {
    box-shadow: 0px 0px 10px #5a0f2e;
    /* roxo */
    padding: 5px;
    border-radius: 10px;
    padding-left: 20px;
}

#img1 {
    height: 300px;
    width: 300px;
    border-radius: 0%;
    border: 4px solid #8b0000;
    /* vermelho */
}