 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url("https://s2-techtudo.glbimg.com/PBPfMFqS6FqcLaTJWaqZ0ZupLmw=/0x0:1044x562/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/P/R/rUKVWXSDypvwL1fwM49A/outer-banks-imdb-techtudo.jpg");
    background-size: 640px 220px;
    padding: 60px;
    text-align: center;
    color: rgb(237, 169, 11);
    font-weight: bold;
}

nav {
    display: flex;
    background-color: black;
    
}

nav a {
    color: rgb(170, 123, 46);
    padding: 10px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #7f5f22;
    color: #000;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.fakeimage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside h2 {
    font-family: algerian;
}

aside {
    background-color: rgb(237, 194, 102);
    padding: 20px;
    color: black;
    
}

main {
    flex: 20%;
    background-color: rgb(237, 194, 102);
    padding: 20px;
}

article {
    box-shadow: 10px 10px 5px #d18731;
    padding: 10px;
    border-radius: 5px;
}

article img {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    background-color: #444;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 400px) {

    nav {
        flex-direction: column;
    }
    
}