/* style.css */
/* Estilos gerais */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    background-color: #f4f4f4; /* Define a cor de fundo */
    color: #333; /* Define a cor do texto padrão */
    line-height: 1.6; /* Define o espaçamento entre as linhas */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o preenchimento padrão */
}
/* Estilo para cabeçalhos */
h1, h2 {
    color: #00539f; /* Cor azul-escura para os cabeçalhos */
}
/* Estilo para parágrafos */
p {
    margin-bottom: 20px; /* Adiciona espaçamento abaixo dos parágrafos */
