* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 20px;
}

/* HEADER */
header {
    background-color: rgb(39, 205, 39);
    padding: 60px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

/* MENU */
.menu {
    background-color: black;
    padding: 10px 0;
}

.itemsmenu {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.itemsmenu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.itemsmenu a:hover {
    text-decoration: underline;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: rgb(3, 197, 3);
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    color: #fff;
}

.card img {
    width: 120px;
}

.card p {
    text-align: center;
    margin: 10px 0;
    color: #fff;
}

.btn {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e6e6e6;
}

/* ARTICLES */
.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

article {
    width: 32%;
    box-shadow: 0px 0px 10px #aaa;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

article img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

article h2 {
    margin-bottom: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: black;
    padding: 20px 0;
    color: #fff;
    margin-top: 40px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    article {
        width: 100%;
    }

    .card {
        max-width: 100%;
    }
}

#partebaixo {
    background-color: rgb(39, 205, 39);
    width: 100%;
    font: 1em sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 20px 0;
}

#partebaixo p {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#partebaixo img {
    width: 400px;
   margin-right: 100px;
   border: 2px solid white;
    
}

.primeirotextoheader {
  max-width: 600px;
}

