/*
 * O estilo principal está no HTML usando classes do Tailwind CSS.
 * Este arquivo está vazio, mas pode ser usado para customizações futuras.
 * Exemplo:
 * .meu-link:hover {
 * text-decoration: underline;
 * }
*/

/* Reset e Box Sizing: (Já feito implicitamente pelo Tailwind) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}