*{margin:0; padding:0;}
h1{
    background-color: cornflowerblue;
    font-family: algerian;
    color: #000000fb;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 40px;}
    body{
        color: white;
        background: 
        url("C:/User/adriano/desktop/seductec/mentoria/html/imagem/letramento.jpg");

        background-position: center;
        background-size: 1400px 655px;}
        ul{display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 16px;}
        nav a{background-color: rgb(218, 47, 47);
        color: rgb(0, 0, 0);
        font-size: 24px;
        text-decoration: none;}
        nav a:hover{
        background-color:#ddd;
color: blue;}
 header img{
width: 150px;
height: 150px;
border-radius: 50%;
border: 10px solid rgb(30, 159, 210)}
#lateral{
    display: flex;
    flex-wrap: wrap;}
    .FotoGaleria{
background: #057e0ffb;
width: 100%;
padding: 20px;
margin-bottom: 10px;}
aside{
flex: 20px;
background-color: rgb(8, 124, 43);
padding: 20px;
color: rgb(0, 0, 0);}
main{

    flex: 70%; background-color: green;
    padding: 20px;
    color: black;}
    footer{ background-color: darkgreen;
    padding: 20px;
color: black;
text-align:right;
bottom: 0;
width: 99%;
    }


