 <style>
    body{background-color: rgb(234, 253, 238);
     display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  padding: 0 600px;
  align-items: center;      /* Centraliza verticalmente */
  height: 100vh;            /* Ocupa toda a altura da tela */
margin: 0;
    font-family:'Times New Roman', Times, serif
    }
      h1{color: rgb(0, 0, 0);}
 h2{color: rgb(190, 2, 2);}
 h3{color: rgb(192, 87, 1);}
h1{background-color: #cacaca;}
     h1{font-family:inherit}
    h1{text-align: center;
    padding: 7px;
    font-size: 60px;
    }
  nav{
    display: flex;
background-color: #cacaca;
}
nav a {
 color: #000000;
padding: 9px;
text-decoration: none;
text-align: center;
width: 212px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;}
nav a:hover{
background-color: #ddd;
color: #000000;
}
</style>