{
      margin: 0;
        padding: 0;
          box-sizing: border-box;
            
              
              }
              body {
                font-family: arial, helvetice, sans-serif;
                }

                header {
                 background-color: brown;
                 padding: 60px;
                  text-align: center;
                    color: aliceblue;
                      font-weight: bold;
                      }
                      nav {
                        display: flex;
                          background-color: brown;
                            
                            }
                            nav a {
                             color: #fff;
                               padding: 10px;
                                 text-decoration: none;
                                   text-align: center;
                                   }
                                   nav a:hover{

                                   color: firebrick;
                                     padding: 10px;
                                       text-decoration: none;
                                         text-align: center;
                                         }
                                         nav a:hover {
                                           background-color: #ddd;
                                             color: #000;
                                             }
                                             #row {
                                               display: flex;
                                                 flex-wrap;
                                                 }

                                                 .fakeimane{
                                                   
                                                     background-color: #aaa;
                                                       width: 100%;
                                                         padding: 20px;
                                                           margin-bottom: 10px;
                                                             
                                                             }


                                                             aside {
                                                               flex: 30%;
                                                                 background-color: #f1f1f1;
                                                                   padding: 20px;
                                                                   }
                                                                   main {
                                                                     flex: 70%;
                                                                       background-color: silver;
                                                                         padding: 20px;
                                                                           
                                                                             
                                                                             }
                                                                             article{
                                                                               box-shadow: 10px 10px 5px #aaa;
                                                                                 padding: 5px;
                                                                                   border-radius: 10px;
                                                                                   }

                                                                                   article img{
                                                                                     width:50%;
                                                                                       margin-top:10%;
                                                                                          margin-bottom: 10px;
                                                                                            border-radius: 5px;
                                                                                              
                                                                                              }


                                                                                              footer{
                                                                                                background-color: #444;
                                                                                                  padding: 40px;
                                                                                                    color: #fff;
                                                                                                      text-align: center;
                                                                                                        font-size: 12px;
                                                                                                        }
}