* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 <font=family:Arial,Helvetice, sans-serif;
}

header {
background-color: aqua;
padding: 60px;
text-align: center;
color: rgba(24, 218, 137, 0.781)219);
font-weight: bold;
''}

nav { do not use empty rulesets
 display: flex: ;
backgroudcolor
<a href="">pagina2/a>
<a href="">pagina2/a>
nav a }
  color
padding:10px;
text-decoration:none;
text-align:center;
}

 nav a:hover{ do not use empty rulesets
   background-color:; 
color: black;
 }

#raw{
 display: flex;
flex-wrap: wrap;
}

.fakeimage{
background-color: rgb(241, 241, 241);
width: 100%;
padding: 20px;
margin-bottom: 10px;
}

aside{
flex: 30%;
background-color: aliceblue;
padding: 20px;
}

main {
flex: 70;
background-color: beige;
padding: 20px;
}

footer{
background-color: black;
padding: 5px;
border-radius: 10px;
}

article img
:width:100px
margin-top; 10px
margin-botton: 10px
border-radius: 5px 
}

footer{
background-color: black;
padding: 40px;
color: aliceblue;
text-align: center;
font-size: 12px;
}

@media screen and(max-width:400px){
  nav {
}
  flex-direction: column;
}