.logo img {
  transition: transform 0.3s ease;
}
.logo img:hover {
  transform: rotate(10deg) scale(1.1);
}

.nav-link {
  color: #fff;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #3b3172;
}

/* PERFIL */
.perfil-card {
  background-color: rgba(22, 37, 59, 0.9);
  border-radius: 1rem;
  padding: 20px;
  max-width: 250px;
  box-shadow: 0 0 10px rgba(98, 137, 160, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.perfil-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(63, 41, 114, 0.8);
}

.perfil-foto {
  border-radius: 50%;
  border: 3px solid #251446;
  width: 80px;
  height: 80px;
}

.descricao {
  color: #d1d5db;
  text-align: center;
  font-size: 0.85rem;
}

.amigo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}
.amigo:hover {
  transform: scale(1.1);
}

/* POSTS */
.post-card {
  background-color:rgb(0, 4, 255)
        }

.logo img {
  transition: transform 0.3s ease;
 
   }  


.logo img:hover {
  transform: rotate(10deg) scale(1.1);
}

.nav-link {
  color: #1251d8;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #452166;
}

/* PERFIL */
.perfil-card {
  background-color: rgba(0, 106, 255, 0.9);
  border-radius: 1rem;
  padding: 20px;
  max-width: 250px;
  box-shadow: 0 0 10px rgba(37, 2, 100, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.perfil-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(43, 11, 160, 0.8);
}

.perfil-foto {
  border-radius: 50%;
  border: 3px solid #413281;
  width: 80px;
  height: 80px;
}

.descricao {
  color: #0e3e86;
  text-align: center;
  font-size: 0.85rem;
}

.amigo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}
.amigo:hover {
  transform: scale(1.1);
}

/* POSTS */
.post-card {
  background-color:blue
}