
*{
    margin: 0;
}

body{
    font-family: "Dancing Script", cursive;
    background-color: azure;
}
header{
    margin-bottom: 15px;
    text-align:center ;
}
#loc{
    border-radius: 100%;
    margin: auto;
}
#pizza01{
    width: 100%;
    height: 150px;
    margin-right: 15px;
}
.produtos{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#pizza-calabresa{
    font-size: 20px;
}

.card{
    width: 200px;
    background-color: rgba(255, 182, 193, 0.022);
    border: 1px dotted #696969;
    text-align: center;
    padding-bottom: 10px;
}

.menu{
    padding: 10px 0;
    background-color: darksalmon;
}

.itensmenu{
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.meu-texto {
font-size: 19px;
color: #050505;
font-family: "Dancing Script", cursive;

}
.s2{
    margin-left: 32px;
}
.tic{
    font-family: "Dancing Script", cursive;
}

.barra-whatsapp {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #25d366; /* verde do WhatsApp */
  padding: 1px 10px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.barra-whatsapp a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.barra-whatsapp a:hover {
  opacity: 0.01;
}

.barra-whatsapp i {
  font-size: 10px;
}

.btncompra{
    display: block;
    background-color: darksalmon;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: aliceblue;
}




