{

    margin:0;
    padding:0;
    box-sizing: border-box
    
    }

    body{
        font-family:Arial, sans-serif
        background-color:#f5f5f5;
        color: #333;
        line-height:  1.6

    }

    header{
        background-color: #f90808;
        color:rgb(0, 0, 0);
        padding:20px 0/;
        text-align: center;

    }


header h1{
    margin-botton:10px;

}

nav ul{
    list-style:none;

}

nav ul li{
    display:inline;
    margin:0 15px;

}

nav ul li a{
    color:rgb(3, 3, 3);
    text-decoration: none;
    font-weight:bold

}

nav ul li a:hover{
    text-decorantion:underline;

}

main{
    padding:30px;
    max-whidth:900px;
    margin:0 auto;
    background:rgb(255, 255, 255);
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0,.1);

}

.intro img{
    width:100%;
    max-width:400px
    border-radius:8px;
    display:block;
    margin:15px auto;

}

.conteudo ul{
    margin-top:10px;
    padding-left:20px

}

footer{
    background-color:#000000;
    color: #fff
    text-align:center;
    padding:15px 0;
    margin-top:30px;
    font-size:14px;
}