* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        header {
            background-color: rgb(17, 16, 13);
            padding: 60px;
            text-align: center;
            color: white;
            font-weight: bold;
          
        }

        nav {
            display: flex;
            background-color: #0e0d0d
           
        }

        nav a {
            color: rgb(70, 189, 54);
             padding: 10px;
            text-decoration: none;
             text-align: center;     
        }

        nav a:hover {
            background-color: #0e0101;
            color: rgb(8, 12, 8);
        }

        #row {
            display: flex;
            flex-wrap: wrap;
        }

         .fakeimage {
            background-color: #160a0a;
            width: 50%;
            padding: 20px;
            margin-bottom: 10px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #9ffc97;
            font-size: 18px;
            border-radius: 4px;
         }

         aside {
            flex: 50%;
            background-color: white;
            padding: 20px;       
        }

         main {
            flex: 50%;
            background-color: #47ee41;
             padding: 20px;

         }

         article{
            box-shadow: 10px 10px 5px green;
            padding: 5px;
            border-radius: 10px;
         }

         article img {
            width: 50%;
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
         }

         footer {
            background-color: #0e0101;
            padding: 20px;
            color: white;
            text-align: center;
            font-size: 12px;

         }

         @media screen and (max-width: 400px){
            nav {
                flex-direction: column;
            }
         } 
            
         


         
        