body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000;
    color: black;
    text-align: center;
    padding: px;
}

main {
    padding: 10px;
}

h2 {
    color: #333;
}

.gallery img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 1px;
    display: block;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
