<style>
  header {
      background-color: blue;  /* Cor de fundo da página */
          color: blue;             /* Cor do texto */
              text-align: center;
                  color: #fff;
                    }
                     
                     nav {
                          display: flex;
                               background-color:  #333;
                               }
                                 
                                 nav a {
                                   color: #fff;
                                     padding: 10px;
                                       text-decoration: none;
                                         text-align: center;
                                         }
                                           
                                           nav a:haver {
                                                         background-color: #ddd;
                                                                       color: #000;
                                                                       }

                                                                       #row {
                                                                         display: flex;
                                                                           flex-wrap: wrap;
                                                                           }
                                                                             
                                                                             .fakeimage {
                                                                                 background color: #aaa;
                                                                                     width: 100%;
                                                                                         padding: 20px;
                                                                                             margin-botton: 10xp;
                                                                                             }
                                                                                              
                                                                                              aside {
                                                                                                    flex: 30%;
                                                                                                          background-color: #f1f1f1;
                                                                                                                padding: 20px;
                                                                                                                }
                                                                                                                  
                                                                                                                  main {
                                                                                                                        flex: 70%;
                                                                                                                              background-color: white;
                                                                                                                                    padding: 20px;
                                                                                                                                    }
                                                                                                                                      
                                                                                                                                      footer {
                                                                                                                                           background-color: #444;
                                                                                                                                                padding: 40px;
                                                                                                                                                     color: #fff;
                                                                                                                                                          text-align: center;
                                                                                                                                                               front-size: 12px;
                                                                                                                                                               }