body {
    margin: 0;
    background-color: #e7ffe7;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #1b8a1b;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAV */
nav {
    background: #0f5f0f;
    padding: 10px;
    text-align: center;