* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: Arial, Heltvetica, sans-serif; 
}
     header {
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3_HH0FsyTizJEVqUgZWRcQYT2lgItqkIPfQ&s");
        background-size: auto;
        background-color: orange;
        padding: 60px;
        text-align: center;
        color: #fff;
        font-weight: bold;

     } 
     nav {
        display: flex; 
        background-color: #ffffff
    }
    nav a {
        color: #fff;
        padding: 10px;
        text-decoration: none;
        text-aling: center;
    
    }
    nav a:haver {
        background-color: #ddd;
        color: #ffffff
    }
#row {

    display: flex;
    flex-wrap: wrap;
}
   .fakeimage { 
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside {

    flex: 30%;
    backgound-color: #f1f1f1;
    padding: 20px;
}

article {
    box-shadow: 0px 0px 10px #fffefe;
    padding: 5px;
    border-radius: 10px;

}

articeb img {
    width: 100%;
    margin-top: 10px;
    margin-botton: 10px;
    border-radius:  5px;

}

 main {

    background-color: white;
    padding: 20px;
}
   footer {

    background-color: #ffffff;
    padding: 40px;
    color: #fff;
    text-aling: center;
    font-size: 12px; 
}



