
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1{
    color: rgb(76, 6, 146);

}

h2{
 font: italic; color: blue(20, 5, 0);

}

body{
    background-color: rgb(228, 171, 223);  
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header{
    background-color: #aaa;
    padding: 60px;
    text-align: center;
    color: black;
    font-weight: bold;

}

 nav{
    display: flex;
    background-color: blueviolet;
    

 }

 nav a{
    color: aliceblue;
    padding: 10px; 
    text-decoration: none;
    text-align: center;

 }
nav a:hover{
    background: #ddd;
    color:#000;
}
 #row{
    display: flex;
    flex-wrap: wrap;
 }

img{
    background-color: #aaa;
    padding: 20px;
    margin-bottom: 10px;
}
aside{
    flex: 30%;
    background-color: blueviolet;;
    padding: 20px;
}

main{
  flex: 70%;
  background-color: antiquewhite;
  padding: 20px;

}

article{
 box-shadow: 0px 0px 10px #aaa;
 padding: 5px;
 border-radius: 5px;

}
 footer{
 background-color:#aaa;
 padding: 40px;
 color:  rgb(76, 6, 146);
 text-align: center;
 font-size: 12px; 
}

@media screen and (max-width:400px){
    nav{
      flex-direction: column;


    }
}
#foto-chocolate{
    height: 400px;
    width: 400px;

}

#foto-mimir{
    height: 400px;
}