/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  color: rgb(233, 236, 10);
  background-color: rgb(251, 255, 0);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.card {
  background-color: #ffee02;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(242, 247, 1, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}
