body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* ----- TOPO ----- */
.topo {
    background: orange;
    color: white;
    text-align: center;
    padding: 40px 0;
}

/* ----- MENU ----- */
.menu {
    background: #333;
    padding: 12px;
    text-align: left;
}

.menu a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* ----- LAYOUT PRINCIPAL ----- */
.container {
    display: flex;
    padding: 20px;
}

/* ----- SIDEBAR ----- */
.sidebar {
    width: 25%;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    margin-top: 0;
}

.subtitulo {
    font-size: 14px;
    color: #444;
}

.imagem-box {
    background: #bbb;
    color: white;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* ----- POSTAGEM ----- */
.post {
    background: white;
    width: 70%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
}

.titulo-post {
    margin-top: 0;
}

.autor {
    color: #666;
    font-size: 14px;
}

.post-img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

.texto {
    font-size: 16px;
    color: #444;
}
