@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
    color: #1f2937;
}

.tab-button.active {
    transition: all 0.3s ease;
    transform: scale(1.02);
}