body {
transition: background 0.3s ease-in-out;
}

.card-hover:hover {
transform: scale(1.02);
transition: 0.2s;
}

header a {
transition: color 0.2s;
}

header a:hover {
color: #d1d5db;
}

img {
border-radius: 6px;
}