* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    font-family: 'UnifrakturCook', cursive;
    background-color: palevioletred;
    text-align: center;
    color: white;
    padding: 60px;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202508/2505/fb2c3359d4a483d8920e3ae0dbfe331f5c74536e6f66550f.png);
    background-size: cover;
    background-position: center;
    }

nav {
    display: flex;
    background-color: #333 ;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: plum;
}

nav a:hover {
    background-color: palevioletred;
    color: red;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.fakeimage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside {
    flex: 30%;
    background: pink;
    padding: 20px;
    border: #333;
    border-right: 2px solid black;
    border-radius: 5px;
    
}

main {
    flex: 70%;
    background-color: palevioletred;
    padding: 20px;

}

footer {
    background-color: #333;
    padding: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    width: 100%;
}   

.xd {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
article {
    box-shadow: 10px 10px 5px pink;
    padding: 5px;
    border-radius: 10px;
}

article img {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
}