*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(5, 5, 31);
    padding: 40pax;
    text-align: center;
    color: rgb(185, 0, 0);
    font-weight: bold;
}

nav {
    display: flex;
    background-color: black;
}

nav a {
    color: brown;
    padding: 8px;
    text-decoration: none;
   text-align: center;
}

nav a:hover {
    background-color: aliceblue;
    color: brown;
}

#row {
    display: flex;
    flex-wrap: wrap ;
 }

 .fakeimage {
    background-color: rgb(185, 0, 0);
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
 }

 aside {
    flex: 20%;
    background-color: brown;
    padding: 20px;
 }

 aside img {
    width: 100%;
 }

 main {
    flex: 80%;
    background-color: brown rgb(244, 253, 253);
    padding: 20px;
 }

 article h2 {
    text-align: center;
 }

 article h3 {
    font-size: 15px;
    text-align: right;
    color: brown;
 }
 
 article {
    box-shadow: 0px 0px 10px #aaa;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
 }

 article img {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
 }

 footer {
    background-color: #aaa;
    padding: 40px;
    color: white;
    text-align: center;
    font-size: 13px;
 }

 @media screen and (max-width: 400px) {
    nav {
        flex-direction: column
    }
 }