* {
     margin: 0:
     padding: 0;
     box-sizing: border-box;
  }

  body {
      font-family: Arial, Helvetice, sans-serif;
  }

  header {
        background-color: #58210C;
        padding: 60px;
        text-align: center;
        color: white;
        font-weight: bold;
  }

  nav {
      display: flex;
      background-color: #AC5332;
  }

  nav a {
      color: white;
      padding: 10px;
      text-decoration: none;
      text-align: center;
  }

  nav a:hover {
      background: #C54719;
      color: #000000;
  }

  #row {
       display: flex;
       flex-wrap;
  }

  .fakeimage {
            background-color: #D79838;
            width: 100%;
            padding: 20px;
            margin button: 10px;
  }

  aside {
       flex: 30%;
       background-color: #F0BE72;
       padding: 20px;
  }

  main {
      flex: 70%
      background-color: #FFFFFF;
      padding: 20px;
    }


    article {
        box-shadow: 0px 0px 10px #EFC3CA;
        padding: 5px;
        border-radius: 10px;
    }

    article img {
        width: 100%;
        margin-top: 10px;
        margin-button: 10px;
        border-radius: 7px;
    }

  footer {
        background-color: #5DE2E7;
        padding: 40px;
        color: #3B36CF;
        text-align: center;
        font-size: 12px;
  }

  @media screen and (max-width: 400px) {
     nav {
         flex-direction: column;
     }
  }