/* Estilo do botão de Toggle */
#dark-mode-toggle {
    position: absolute; /* Para que fique fora do fluxo normal, como no canto */
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #000000; /* Cor padrão do ícone (modo claro) */
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
    transition: color 0.3s;
}

/* Estilos Padrão (Modo Claro) */
body {
    background-color: rgb(255, 254, 254); /* Fundo Claro */
    color: black; /* Texto Escuro */
    transition: background-color 0.5s, color 0.5s; /* Transição suave */

background-image:url
}
    #box{
        width:400px;
        height:200px;
        background-image: url(Star.Wars.Logo.svg);
        background-size: cover;

}

/* Estilos para o Modo Escuro (Aplicados pela classe 'dark-mode' do JS) */
.dark-mode {
    background-color:#000000f7; /* Fundo Escuro */
    color: #f0f0f0; /* Texto Claro */
}

.dark-mode header, .dark-mode footer {
    background-color: hsl(241, 27%, 38%); /* Fundo dos cabeçalhos/rodapés escuros */
}

.dark-mode a {
    color: #000000; /* Cor dos links no modo escuro */
}

.dark-mode #dark-mode-toggle {
    color: #f0f0f0; /* Ícone Claro */
}
