*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


h1{
   color: rgba(242, 240, 240, 0.979); 
}


h2{
 color: 
 rgb(230, 228, 228);
}

body {
   background-image: url("167643-PM-167-11.webp"); /* Caminho da imagem */
   background-size: cover; /* Faz a imagem cobrir toda a tela */
}

header {
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 3px 3px 5px white;
   position: fixed;
   width: 100%;
}
        
#row{
   display: flex;
   flex: 100%;
}
        
aside{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
   gap: 10px;
   padding: 40px;
   margin-top: 60px;
   
}

aside p, a {
   color: white;
   text-align: justify;
   font-size: 14pt;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px 40px 20px 40px;
   width: 60%;
   gap: 5px;
   margin: 80px;
}

article {
   display: flex;
   flex-direction: column;
   width: 80%;
   gap: 10px;
   padding: 10px;
}
article p {
   color: white;
   font-size: 14pt;
}
footer {
               /* alinha à esquerda */
   width: 100%;          /* ocupa toda a largura */
   background-color: #333; /* cor de fundo */
   color: white;         /* cor do texto */
   text-align: center;   /* centraliza o texto */
   padding: 20px;      /* espaço interno */
}




