/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização opcional dos cards */
.card {
    background-color: #1f2937; /* bg-gray-800 */
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.4);
    max-width: 24rem;
    width: 100%;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}

.lista {
    margin-top: 10px;
    padding-left: 20px;
    list-style: disc;
}
