*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header verde mais moderno */
header {
    background-color: #1b5e20; /* verde escuro */
    padding: 60px;
    text-align: center;
    color: #e8ffe8;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

nav {
    display: flex;
    background-color: #0a3d0a;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

nav a {
    color: #d6ffd6;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}

nav a:hover {
    background-color: #4caf50;
    color: black;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.FakeImage {
    background-color: #4caf50;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    border-radius: 8px;
}

aside {
    flex: 20%;
    background-color: #e5ffe5;
    padding: 20px;
}

main {
    flex: 70%;
    background-color: #b2e0b2;
    padding: 20px;
}

article {
    box-shadow: 4px 4px 8px rgb(0, 70, 0);
    padding: 15px;
    border-radius: 10px;
    background: #eaffea;
}

article img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #0a3d0a;
    padding: 40px;
    color: #d6ffd6;
    text-align: center;
    font-size: 12px;
}

/* Mobile */
@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
}
