*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(96, 114, 255); /* MUDAR COR DO TOPO*/
    padding: 60px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
h2{
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(83, 46, 46); /* MUDAR COR DA BARRA*/
    justify-content: center;
}

nav a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    
}

nav a:hover {
    background-color: rgb(197, 63, 63);
    color: black;
}

#row {
    display: flex;
    flex-wrap: wrap;
}


.sobremim {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}


.quadro {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #aaa;
}
.quadro img{
    width: 100%;
    height: auto;
    display: block;
}

aside {
    flex: 30%;
    background-color: rgb(182, 222, 71);  /*MUDAR COR DO MENU LATERAL*/
    padding: 20px;
}

main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

article {
    box-shadow: 0px 0px 10px #aaa;
    padding: 5px;
    border-radius: 10px;
}

article img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.postagem {
    padding: 30px;
    text-align: justify;
    font-size: 20px;
}
footer {
    background-color: rgb(96, 114, 255); /*MUDAR COR COM A MESMA DO TOPO*/
    padding: 40px;
    color: azure;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
    
}