body {
  background-color: #1e3a8a; /* azul-900 */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  color: aquamarine;
  font-size: small;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  color: aquamarine;
  font-size: 40px;
}

a {
  color: aquamarine;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

a:hover {
  color: #7dd3fc;
  text-decoration: underline;
}

p {
  font-size: 22px;
  line-height: 1.5;
  color: #d1d5db;
  text-align: justify;
}

.post-card {
  background-color: #1f2937; /* gray-800 */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 24rem;
}

.post-card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.post-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #d1d5db;
  text-align: justify;
}

.post-card span {
  font-size: 0.75rem;
  color: #9ca3af;
  text-align: right;
  display: block;
  margin-top: 0.5rem;
}