body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}

header {
    background-color: #ff9900;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

nav {
    background-color: #333;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.container {
    display: flex;
    padding: 20px;
}

aside {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

aside .img-box {
    background: #bbb;
    width: 120px;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN --------------------- */

main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

article {
    background: white;
    padding: 15px;
    margin-bottom: 20px;

    /* igual na imagem */
    box-shadow: 5px 5px 5px #aaa;
}

article img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
