*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header {
    background-color: rgb(202, 181, 149);
    padding: 70px;
    text-align: center;
    color: bisque;
    font-weight: bold;
}
nav{
    display: flex;
background-color: rgb(218, 204, 78) ;

}
nav a {
color: bisque;
padding: 10px;
text-decoration: none;
text-align: center;

}
nav a:hover{
background-color: aliceblue;
color: black;

}

#row {
display: flex;
flex-wrap:wrap;
}

.fakeimage {
background-color: floralwhite;
width: 40%;
padding: 30px;
margin-bottom: 20px;

}

aside {
flex: 30%;
background-color: rgb(149, 103, 163);
padding:30px ;
}

main {
flex: 70%;
background-color: rgb(149, 103, 163);
padding:40px ;
}

p{
font-size: 20px;

}
h5 {
font-size:30px;

}
p{
font-size: 30px;

}
li{
font-size: 30px;

}
a{
font-size: 30px;
}

article{
box-shadow: 0px 0px 10px cornsilk;
padding:5px;
border-radius:10px;

}
article img {
width:200%;
margin-top:10px;
margin-bottom:40px;
border-radius:20px;
}

footer{
    background: color #444;
padding:40px;
color: #fff;
text-align: center;
font-size:12px;
}

@media screen and (max-width:400px) {
nav{
    flex-direction: column;
}
}







































































































