/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  color: #632929ce;
}

/* Cabeçalho */
header {
  background: paleturquoise;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

header p {
  font-size: 1.1rem;
}

/* Navegação */
nav {
  background: #333;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(52, 10, 58);
}

/* Estrutura principal */
.container {
  display: flex;
  max-width: 1100px;
  margin: 20px auto;
  gap: 20px;
}

/* Barra lateral */
aside {
  width: 250px;
  background: #e6e6e6;
  padding: 15px;
  border-radius: 8px;
}

aside h3 {
  margin: 10px 0;
}

aside .imagem {
  background: #ccc;
  height: 100px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #555;
}

/* Conteúdo principal */
main {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.postagem h2 {
  margin-bottom: 5px;
  color: #222;
}

.postagem small {
  display: block;
  margin-bottom: 10px;
  color: #777;
}

.postagem img {
  max-width: 100%;
  border-radius: 6px;
  margin: 10px 0;
}

.postagem p {
  line-height: 1.6;
}
