* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

header {
    background: #111;
    color: #fff;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

nav {
    display: flex;
    background-color: black;

}

 nav a {
color: #fff;
padding: 10px;
text-decoration: none;
text-align: center;
 }

 aside {
background-color: floralwhite;
padding: 20px;

 }

 main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.card h2 {
  margin-bottom: 10px;
}

.leia-mais {
  color: #0078ff;
  text-decoration: none;
  font-weight: bold;
}


.hero {
  text-align: center;
  padding: 40px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #0078ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.sobre {
  margin-top: 40px;
}

.carros-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.carro {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.carro:hover {
    transform: scale(1.05);
}

.carro img {
    width: 100%;
    border-radius: 10px;
}

.carro h2 {
    margin-top: 10px;
    font-size: 20px;
}

.preco {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #0a7b00;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
