* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: deeppink;
    padding: 60;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: hotpink;
}

nav a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: aliceblue;
    color: pink;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.Fakeimage {
    background-color: pink;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

aside {
    flex: 30%;
    background-color: indianred;
    padding: 20px;
}

main {
    flex: 70%;
    background-color: lightcoral;
    padding: 20px;
}

article {
    box-shadow: 0px 0px 10px pink; 
    padding: 5px;
    border-radius: 10px;
}

article img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    background-color: palevioletred;
    padding: 40px;
    color: pink;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 400px){
    nav {
        flex-direction: column;
    }
}
    
