* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
body { 
    font-family: monospace, Verdana, Geneva, 
Tahoma, sans-serif; 
} 
 
header { 
    background-color: rgb(0, 0, 0); 
    padding: 60px; 
    text-align: center; 
    color: rgb(226, 225, 236); 
    font-weight: bold; 
} 
 
nav { 
    display: flex; 
    background-color: rgb(241, 237, 237); 
} 
 
nav a { 
    color: rgb(0, 0, 0); 
    padding: 10px; 
    text-decoration: none; 
    text-align: center; 
} 
 
nav a:hover { 
    background-color: aliceblue; 
    color: black; 
} 
 
/* LAYOUT COM ASIDE + MAIN */ 
#row { 
    display: flex; 
    flex-wrap: wrap; 
} 
 
aside { 
    flex: 30%; 
    background-color: rgb(0, 0, 0); 
    padding: 20px; 
    color: white; 
} 
 
main { 
    flex: 70%; 
    background-color: ghostwhite; 
    padding: 20px; 
} 
 
h2, h5, p, li, a { 
    font-size: 20px; 
    margin-bottom: 10px; 
} 
 
/* CARD DOS HOBBIES */ 
article { 
    box-shadow: 0px 0px 10px cornsilk; 
    padding: 20px; 
    border-radius: 10px; 
} 
 
article img { 
    width: 100%; 
    margin-top: 10px; 
    margin-bottom: 20px; 
    border-radius: 20px; 
} 
 
footer { 
    background-color: #fcf2f2; 
    padding: 40px; 
    color: #fff; 
    text-align: center; 
    font-size: 14px; 
} 
 
/* RESPONSIVIDADE */ 
@media screen and (max-width: 600px) { 
    nav { 
        flex-direction: column; 
    } 
 
    aside, main { 
        flex: 100%; 
    } 
}