body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  background-color: #f5f5f5; 
  color: #333333; 
} 
 
nav { 
  background-color: #d6ad28; 
  color: rgb(175, 164, 164); 
  text-align: center; 
  padding: 15px; 
  font-size: 1.5em; 
  font-weight: bold; 
} 
main { 
padding: 20px; 
max-width: 1200px; 
margin: auto; 
} 
h2 { 
color: #f1e5e5; 
border-bottom: 2px solid #e4dede; 
display: inline-block; 
margin-top: 30px; 
} 
/* ====== ESTILO DOS CARDS ====== */ 
.cardapio { 
display: grid; 
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
gap: 20px; 
margin-top: 20px; 
} 
.item {