*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 header{
    background-color: orange;
    padding: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
 }



 