body {
    color: plum;
    background: blueviolet;
    margin: 0;
    font-family: "Mystery Quest", system-ui;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px plum;
    padding: 20px;
    font-size: 32px;
    color: plum;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav .menu a {
    color: plum;
    text-decoration: none;
}

section {
    background: #a273df;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.destaque {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

aside {
    background: #c59bff;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.chamada-texto {
    margin-right: 5%;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border-radius: 5px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid blueviolet;
}

footer {
    background: purple;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
