nav {
  background-color: #b3cbff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  background-color: #7066ff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

nav ul li a:hover {
  background-color: #558ce0;
}