body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #1b1b1b;
    color: #f0f0f0;
}

header {
    background: #2e2e2e;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #7a00ff;
}

nav {
    background: #1f1f1f;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

nav a {
    color: #c7a8ff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* -------------------------- */
/*      ASIDE (ADICIONADO)    */
/* -------------------------- */

.layout {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
