img{
    width: 270px;
    height: auto;
}
li{
    font-size: 24px;
}
p{
   font-size: 24px; 
}
body{
    background-color: rgb(37, 139, 6);
}
p{
    font-size: 30px;
}
li{
    font-size: 27px;
}