body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

.topo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

aside {
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.destaque {
    color: red;
    font-weight: bold;
}