header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  text-align: center;
  color: #1cd6ce;
  font-size: 30px;
  background-color: #771414;
}

h2 {
  font-size: 45px;
  text-align: center;
  color: Blue;
}
h3 {
  font-size: 45px;
  text-align: center;
  color: Blue;
}
body{
  padding: 30px;
  padding-top: 165px;
  padding-bottom: 165px;
  background-color: #f6d89f;
}
title {
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
p {
  color: green;
  font-size: 20px;
}
ul {
  color: green;
  font-size: 30px;
}
ol {
  color: green;
  font-size: 30px;
}
h4 {
  color: #ec0c0c;
  font-size: 30px;
}
h5 {
  color: #ec0c0c;
  font-size: 30px;
}
footer{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: #771414;
}
p{
font-size: 30px;
}
a{
    font-size: 30px;
}