* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(0, 84, 87, 0.815);
    padding: 30px;
    text-align: center;
    color: azure;
    font-weight: bold;
    
}

nav {
    display: flex;
    background-color: rgb(0, 189, 157);
}

nav a {
    color: aliceblue;
    padding: 10px;
    text-decoration: cadetblue;
    text-align: center;
}

nav a:hover {
    background-color: antiquewhite;
    color: #000
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.fakeimage {
    background-color: antiquewhite;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    
}



#FOTO{
     box-shadow: 5px 5px 10px #7a7a7a;
block-size: 200px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 10px;
}


aside {
    flex: 50%;
    background-color: antiquewhite;
    padding: 20px;
    

}

main {
    flex: 50%;
    background-color: antiquewhite;
    padding: 20px;
}
        

article img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
     box-shadow: 5px 5px 10px #7a7a7a;
}
 
footer{
    background-color: rgb(202, 178, 148);
    padding: 20px;
    color: rgb(15, 0, 0);
    text-align: center;
    font-size: 12px;
}
#FOTO2{
 box-shadow: 5px 5px 15px #777777;

}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
} 