
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background-color:  #adc7d1;
    display: flex;
    flex-direction: column;
    
}

#row{
    
    display: flex;
    flex-wrap: nowrap;
}

header{
    background-color:  hsl(0, 3%, 6%);
    padding: 20px;
font-size: x-large;
    color: rgb(216, 24, 10);
    text-align: center;

}
nav{
    display:flex;
    background-color: #963c2e;
}
nav a {
    color: beige;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: rgb(2, 1, 1);
    color: beige;
}

aside {
    flex: 40px;
    padding: 20px;
}

main {
    flex: 60%;
    padding: 20px;
        
}
article {
    box-shadow: #f3d5a5;
    padding: 50px;
    border-radius: 20px;
    text-shadow: #8b7069;

}

h1{
    color:  #ffffff;
}

h2{
    font-style: oblique;
    color: #ac283c;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(219, 8, 8);
}


footer {
    background-color: #8b7069;
    padding: 20px;
    color: #ca998d;
    text-align: center;

}
@media screen and (max-width:400px) { nav{
    flex-direction: column;
}
    
}

