/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #db239e2f;
}

/* Header */
header {
    background-color: rgb(255, 0, 179);
    color: white;
    padding: 20px;
    text-align: center;
}

/* Menu do topo */
.menu-topo {
    background-color: #921d7573;
}

.menu-topo ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-topo li {
    margin: 0 15px;
}

.menu-topo a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menu-topo a:hover {
    background-color: #444;
}

/* Layout principal */
main {
    display: flex;
    padding: 20px;
}

/* Menu lateral */
.menu-lateral {
    width: 200px;
    background-color: #e0e0e017;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-lateral h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu-lateral p {
    font-weight: bold;
    margin-top: 15px;
}

.caixa {
    background-color: white;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

/* Conteúdo principal */
.conteudo {
    flex: 1;
}

.postagem {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.postagem h2 {
    margin-bottom: 5px;
}

.autor {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.imagem-postagem {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 10px 0;
    border-radius: 8px;
}
