* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blue;
    padding: 60px;
    text-align: center;
    color: brown;
    font-weight: bold;
}  

nav{
    display: flex;
    background-color: aliceblue;
}

nav a {
    color: black;
    padding: 10px;
    text-decoration: nome;
    text-align: center;
}

nav a:haver {
    background-color: aqua;
    color:blueviolet
}

#row {
    display: flex;
flex-wrap: wrap;
}

.fakeimage{
    background-color: aliceblue;
   width: 100%;
   padding: 20px;
    margin-bottom: 10px;
}

aside {
    flex: 30%;
    background-color: aliceblue;
padding: 20px;
}

main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

footer {
    background-color: white;
    padding: 40px;
    color: aliceblue;
    text-align: center;
    font-size: 12px;
}