body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
}

/* TOPO */
.topo {
    background: #19285a;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: rgb(230, 198, 198);
}

.menu {
    position: absolute;
    right: 40px;
}

.menu a {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

/* CARDS */
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: rgb(117, 117, 117);
    width: 330px;
    border-radius: 15px;
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.card p {
    text-align: justify;
    font-size: 15px;
}