<!--Não precisou de css arquivo-->.* {
  
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
    background-color: aqua;
    padding: 60px;
    text-align: center;
    color: #444;
    font-weight: bold;

}

nav {
   
}

nav a {
   
}

nav a:hover {
    
}

#row {
  
}

.fakeimage {
   
}

aside {
   
}

main {
   

}

article {
   
}

article img {
   
}

footer {
  
}