body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

/* HEADER */
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAV */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* MAIN */
main {
    padding: 20px 0;
}

/* FEED */
.feed {
    max-width: 800px;
    margin: 0 auto;
}

/* POST */
.post {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

/* IMG */
.post img {
    width: 100%;
    border-radius: 10px;
}

/* TITULO */
.post h2 {
    margin-top: 10px;
}

/* TEXTO */
.post p {
    color: #444;
}

/* SPAN obrigatório */
.post .data {
    display: block;
    color: #777;
    font-size: 14px;
    margin-top: 8px;
}
