element.style {
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0033a0;
    color: white;
    min-height: 100vh;
    display: flex
;
    flex-direction: column;
    align-items: center;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
