body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0c0c0c;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Estilo para a barra de navegação */
nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #575757;
}

/* Estilo para o layout de duas colunas */
section {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

main {
    flex: 3;
    padding: 0 2rem;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-right: 20px;
}

h2 {
    color: #a30000;
}

h3 {
    font-size: 1.5rem;
    color: #a30000;
}

article {
    margin-bottom: 2rem;
}

.imagens-galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.imagens-galeria img {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e2e2e2;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #0c0c0c;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Mídias queries para telas menores */
@media screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }

    aside {
        margin-right: 0;
        margin-bottom: 20px;
    }
}