/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.5;
}

/* Header e navegação */
header {
  background-color: #961414;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Seções */
section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #830e0e;
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: center; /* Cards centralizados horizontalmente */
  gap: 20px;               /* Espaço entre os cards */
  flex-wrap: wrap;         /* Permite quebrar para linha abaixo em telas pequenas */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card img {
  width: 100%;
  display: block;
}

.card h3 {
  margin: 15px 0 10px;
  color: #8a0e0e;
}

.card p {
  padding: 0 15px 20px;
  font-size: 0.95rem;
  color: #555;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/* Galeria */
.imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.imagens img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.imagens img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #7a0e17;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}


