body {
    margin: 0;
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

header {
    background: #d00000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h2 {
    color: #b30000;
}

img {
    width: 280px;
    border-radius: 10px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 0 8px #aaa;
}

span {
    font-weight: bold;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}