* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
   font-family: Georgia, 'Times New Roman', Times, serif;

}

header {
   background-color: rgb(144, 201, 252);
   padding: 60px;
   text-align: center;
   color: #1f1c1c;
   font-weight: bold;
}

nav {
   display: flex;
   background-color: aqua;
}

nav a {
    color: #4e4949;
    padding: 11px;
    text-decoration: none;
}

nav a:hover{
   background-color: rgb(43, 99, 148);
   color: #000;
}

#row {
   display: flex
   flex-wrap: wrap;
}

.fakeimage {
   background-color: rgb(124, 181, 231);
   width: 80%;
   padding: 20px;
   margin-bottom: 10px;
}

aside{
   flex: 20%;
   background-color: #fff;
   padding: 20px;
}

main{
   flex: 60%;
   background-color: aliceblue;
   padding: 20px;
}

article {
   box-shadow: 0px 0px 10px;
   padding: 5px;
   border-radius: 10px;

}

article img{
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
}

footer {
   background-color: #4c99d8;
   padding: 9px;
   color: #fff;
   text-align: center;
   font-size: 12px;
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
   
}

.fakeimage {
   background-color: aliceblue;
   width: 100%;
   padding: 20px;
   margin-bottom: 10px;
}

aside{
   flex: 30%;
   background-color: #fff;
   padding: 20px;
}

main{
   flex: 70%;
   background-color: aliceblue;
   margin-bottom: 20px;
}

article{
   box-shadow: 10px 10px 10px;
   padding: 50px;
   border-radius: 10px;

}

article img{
   width: 500px;
   height: 450px;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 5px;

}