* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff;
}

header {
background-color: rgb(0, 0, 0);
padding: 45px;
color: rgb(17, 151, 28);
font-weight: bold;
display: flex;
justify-content: space-between;
align-items: center;
}

nav a {
color: rgb(255, 255, 255);
background-color: #333;
padding: 5px;
text-decoration: none;
text-align: center;
}

nav a:hover {
background-color: rgb(0, 0, 0);
color: #ffffff;
}

#row {
display: flex;
flex-wrap: wrap;
}

aside {
flex: 20%;
background-color: #ffffff;
padding: 20px;
}

main {
flex: 80%;
background-color: white;
padding: 20px;
}

.fakeImage {
background-color: #aaa;
width: 20%;
padding: 20px;
margin-bottom: 10px;
}

footer {
padding: 20px;
background-color: #333;
color: rgb(255, 255, 255);
text-align: center;
}
aside img {
    width: 40%;
}

article img {
width: 80%;
}

article {
background-color: rgb(255, 255, 255);
padding: 10px;
margin-bottom: 10px;
box-shadow: 1px 1px 10px #aaa;
border-radius: 10px;
}

@media screen and (max-width: 600px) {
#row {
flex-direction: column;
}
}