*{margin:0;padding:0;}
h1{
blue-color:#4374b7;
font-family: algerian;
color:#010a0e;
font-size:24px;
margin-left:20px;
margin-top:40px;
}
body{
    color:black;
    background-color: rgb(11, 80, 11);
    background-position:center;
    background-size:1400px 655px;
    }
    ul{display:flex;
    justify-content:space-between;
    list-style-type:none;
    align-items:center;
    padding: 16px;
    }
    nav a{
      background-color: #0d1a15;
      color: #0e6b47;
      font-size:24px;
      text-decoration: #0e6b47;
    }
    nav a:hover{

        background-color: #3f4140;
        color: #4c8b73;

    }
    header img{
width:150px;
height: 150px;
border-radius:50%;
border:10px solid #0e6b47;
 }
 #lateral{
display:flex;
flex-wrap:wrap;
 }
 .FotoGaleria{
background-color: #103827;
width: 20%;
padding: 20px;
margin-bottom: 10px;
}
aside{
    flex:20%;
    background-color: #2a5f3e;
    padding: 20px;
    color: #010a0e;
}
main{ flex:70%; background-color: #003d28;
padding: 20px;
color: #003d28;
}
footer{background-color: #2a5f3e;
padding: 20px;
color: #010a0e;
text-align: right;
bottom: 0;
width: 75%;

}