*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
   font-family: Arial, Helvetica, sans-serif; 
}

header{
   background-image: url(https://img.freepik.com/fotos-gratis/cartas-de-amor-de-vista-superior-com-espaco-de-copia_23-2150716599.jpg?semt=ais_hybrid&w=740&q=80);
   background-repeat: round;
   height: 200px;
    padding: 60px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
nav{
    display: flex;
    background-color: #5f5959;
}

nav a{
    color: #fff;
    padding: 10px;
    text-decoration: none ;
    text-align: center;
}
.linda{
    text-align: center;
    color: #141212;
}
nav a:hover{
    background-color: #ddd;
    color: #000;
}

#row{
    display: flex;
    flex-wrap: wrap;
}
  
.fakeimage{
        background-color: #aaa;
        width: 100%;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 10pt;
}

aside{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.lateral {
    width: 50px;
    height: 40px;
}

main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
  
article{ 
     box-shadow: 0px 0px 10px #aaa;
     padding: 5px;
     border-radius: 10px;
}

article img{
           width: 80%;
           margin-top: 10px;
           margin-bottom: 10px;
           border-radius: 5px;
  }

footer{ 
    background-color: #444;
    padding: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width:400px) {
    nav{
        flex-direction: column;
    }
}
