/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-red: #B71C1C; /* Vermelho Italiano escuro */
    --secondary-green: #388E3C; /* Verde escuro */
    --bg-cream: #FFFDE7; /* Creme suave */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-cream);
    color: #333;
}

.text-logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
